.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  position: relative;
  width: 1280px;
  height: 832px;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 340px;
  left: 459px;
  width: 362px;
  height: 58px;
  font-family: var(--font-inria), serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: var(--title);
  margin: 0;
}

.catImage {
  position: absolute;
  top: 193px;
  left: 535px;
  width: 188.14px;
  height: 134px;
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 832px;
}

.field {
  position: absolute;
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
  width: 384px;
  height: 39px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.field input {
  width: 100%;
  height: 100%;
  padding: 7px 15px;
  border: 1px solid var(--border);
  border-radius: 6px;
  background: transparent;
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
}

.inputWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.inputWrapper input {
  width: 100%;
  height: 100%;
  padding-right: 40px;
}

.visibilityToggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.visibilityIcon {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/assets/eye.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.error {
  position: absolute;
  left: 448px;
  top: 540px;
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #8a2b2b;
  margin: 0;
}

.submit {
  position: absolute;
  left: 448px;
  top: 568px;
  width: 384px;
  height: 43px;
  border-radius: 46px;
  border: 1px solid var(--border);
  background: transparent;
  padding: 12px 16px;
  font-family: var(--font-inter), sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--border);
  cursor: pointer;
}

.link {
  position: absolute;
  display: block;
  top: 624px;
  left: 578px;
  width: 123px;
  height: 15px;
  text-align: left;
  white-space: nowrap;
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: var(--border);
  text-decoration: underline;
}

.emailField {
  left: 448px;
  top: 435.5px;
}

.passwordField {
  left: 448px;
  top: 486.5px;
}
