* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
  color: var(--text);
  min-height: 100%;
  height: 100%;
}

body {
  background: var(--bg);
}

main {
  min-height: 100vh;
}
